*{
    margin: 0;
    padding: 0;
}
body{
    background: red;
    color: aliceblue;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}